In [2]:
import pandas as pd
import numpy as np
import sys

In [3]:
def genIndicators(all_ids, flag, hold_out=True):
    '''
    Description: Converts anonymized ids into a set of indicator variables and
    removes anonymized id. May be used for meta category id's, leaf ids, condition ids,
    and in general categorical variables encoded in a single column as integers

    Inputs:
        all_ids: a set containing all of the unique anon_leaf_cat_id's in the data set
        flag: 1 character string to append to identify the corresponding indicators
        (and prevent collisions between indicator columns in finalized features)
    Output: dictionary mapping anon_leaf_categ_ids to 1 row data_frames containing the corresponding set of indicators
    '''
    comp_ids = []
    id_strings = []
    # create list of ids as strings (for col names later)
    # create list of ids as ints for index later
    for id in all_ids:
        comp_ids.append(id)
        id_strings.append(str(int(id)) + flag)
    del all_ids
    # convert to nd array for efficient min
    comp_ids = np.array(comp_ids)
    if hold_out:
        # extract min as a string to be used as hold out feature
        hold_out = str(np.amin(comp_ids)) + flag
        # remove hold out id (as string) from list of strings to be used for columns
        id_strings.remove(hold_out)
    # create df of 0's with indices corresponding to all unique id's as ints
    # and columns corresponding to all id's (except hold_out) as strings
    print('Num %s ids : %d' % (flag, len(id_strings)))
    leaf_df = pd.DataFrame(0, index=pd.Index(comp_ids), columns=id_strings)
    # iterate over all id's except the hold out id
    for id_string in id_strings:
        # subset the data frame at the corresponding row index and column name
        # to activate the indicator
        leaf_df.at[int(id_string[0:len(id_string)-1]), id_string] = 1
    return leaf_df

In [4]:
org = pd.read_csv('C:/Users/bpiv4/dropbox/eBay/data/toy/toy-1.csv')
new = pd.read_csv('C:/Users/bpiv4/dropbox/eBay/data/toy-1_feats.csv')

In [17]:
org.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'anon_item_id', 'anon_thread_id',
       'anon_byr_id', 'anon_slr_id', 'src_cre_dt', 'fdbk_score_src',
       'fdbk_pstv_src', 'offr_type_id', 'status_id', 'offr_price',
       'src_cre_date', 'response_time', 'slr_hist', 'byr_hist', 'any_mssg',
       'byr_us', 'unique_thread_id'],
      dtype='object')

In [6]:
small = new[['anon_item_id', 'status_id', 'offr_price',
             'anon_slr_id', 'anon_byr_id', 'unique_thread_id', 'resp_offr']]

In [7]:
len(small)

569631

In [8]:
len(org)

453649

In [9]:
len(small)-len(org)

115982

In [14]:
print(len(np.unique(small['unique_thread_id'].values)))
print(len(np.unique(org['unique_thread_id'].values)))
org.columns

189877
273970

Index(['Unnamed: 0', 'Unnamed: 0.1', 'anon_item_id', 'anon_thread_id',
       'anon_byr_id', 'anon_slr_id', 'src_cre_dt', 'fdbk_score_src',
       'fdbk_pstv_src', 'offr_type_id', 'status_id', 'offr_price',
       'src_cre_date', 'response_time', 'slr_hist', 'byr_hist', 'any_mssg',
       'byr_us', 'unique_thread_id'],
      dtype='object')

In [11]:
counts = small.groupby('unique_thread_id').agg('count')
org_counts = org.groupby('unique_thread_id').agg('count')

In [15]:
np.amax(org_counts['Unnamed: 0'].values)

6

In [67]:
org.loc[org['unique_thread_id'] == 1]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,anon_item_id,anon_thread_id,anon_byr_id,anon_slr_id,src_cre_dt,fdbk_score_src,fdbk_pstv_src,offr_type_id,status_id,offr_price,src_cre_date,response_time,slr_hist,byr_hist,any_mssg,byr_us,unique_thread_id
0,107939,1,2,381750,4892433,3853480,6799411,30jun2012,366.0,99.46,0,7,300.0,2012-06-30 23:02:22,02jul2012 23:02:22,1.0,3.0,1.0,1,1.0
1,108139,0,1,381750,4892433,3853480,6799411,01jul2012,374.0,99.47,2,7,375.0,2012-07-01 00:49:23,03jul2012 00:49:23,NaN,NaN,NaN,0,1.0
2,108716,2,3,381750,4892433,3853480,6799411,01jul2012,366.0,99.46,1,9,350.0,2012-07-01 06:31:11,01jul2012 06:31:11,NaN,NaN,NaN,0,1.0

In [68]:
small

,anon_item_id,status_id,offr_price,anon_slr_id,anon_byr_id,unique_thread_id,resp_offr
0,381750,7,300.0,6799411,3853480,1.0,375.0
1,381750,7,375.0,6799411,3853480,1.0,350.0
2,381750,9,350.0,6799411,3853480,1.0,350.0
3,381750,7,300.0,6799411,3853480,11.0,375.0
4,381750,7,375.0,6799411,3853480,11.0,350.0
5,381750,9,350.0,6799411,3853480,11.0,350.0
6,381750,7,300.0,6799411,3853480,22.0,375.0
7,381750,7,375.0,6799411,3853480,22.0,350.0
8,381750,9,350.0,6799411,3853480,22.0,350.0
9,381750,7,300.0,6799411,3853480,34.0,375.0
10,381750,7,375.0,6799411,3853480,34.0,350.0
11,381750,9,350.0,6799411,3853480,34.0,350.0
12,381750,7,300.0,6799411,3853480,36.0,375.0
13,381750,7,375.0,6799411,3853480,36.0,350.0
14,381750,9,350.0,6799411,3853480,36.0,350.0
15,381750,7,300.0,6799411,3853480,55.0,375.0
16,381750,7,375.0,6799411,3853480,55.0,350.0
17,381750,9,350.0,6799411,3853480,55.0,350.0
18,381750,7,300.0,6799411,3853480,57.0,375.0
19,381750,7,375.0,6799411,3853480,57.0,350.0
20,381750,9,350.0,6799411,3853480,57.0,350.0
21,381750,7,300.0,6799411,3853480,58.0,375.0
22,381750,7,375.0,6799411,3853480,58.0,350.0
23,381750,9,350.0,6799411,3853480,58.0,350.0
24,381750,7,300.0,6799411,3853480,59.0,375.0
25,381750,7,375.0,6799411,3853480,59.0,350.0
26,381750,9,350.0,6799411,3853480,59.0,350.0
27,381750,7,300.0,6799411,3853480,63.0,375.0
28,381750,7,375.0,6799411,3853480,63.0,350.0
29,381750,9,350.0,6799411,3853480,63.0,350.0
...,...,...,...,...,...,...,...
569601,381750,7,300.0,6799411,3853480,2788428.0,375.0
569602,381750,7,375.0,6799411,3853480,2788428.0,350.0
569603,381750,9,350.0,6799411,3853480,2788428.0,350.0
569604,381750,7,300.0,6799411,3853480,2788435.0,375.0
569605,381750,7,375.0,6799411,3853480,2788435.0,350.0
569606,381750,9,350.0,6799411,3853480,2788435.0,350.0
569607,381750,7,300.0,6799411,3853480,2788438.0,375.0
569608,381750,7,375.0,6799411,3853480,2788438.0,350.0
569609,381750,9,350.0,6799411,3853480,2788438.0,350.0
569610,381750,7,300.0,6799411,3853480,2788458.0,375.0
569611,381750,7,375.0,6799411,3853480,2788458.0,350.0
569612,381750,9,350.0,6799411,3853480,2788458.0,350.0
569613,381750,7,300.0,6799411,3853480,2788460.0,375.0
569614,381750,7,375.0,6799411,3853480,2788460.0,350.0
569615,381750,9,350.0,6799411,3853480,2788460.0,350.0
569616,381750,7,300.0,6799411,3853480,2788480.0,375.0
569617,381750,7,375.0,6799411,3853480,2788480.0,350.0
569618,381750,9,350.0,6799411,3853480,2788480.0,350.0
569619,381750,7,300.0,6799411,3853480,2788481.0,375.0
569620,381750,7,375.0,6799411,3853480,2788481.0,350.0
569621,381750,9,350.0,6799411,3853480,2788481.0,350.0
569622,381750,7,300.0,6799411,3853480,2788506.0,375.0
569623,381750,7,375.0,6799411,3853480,2788506.0,350.0
569624,381750,9,350.0,6799411,3853480,2788506.0,350.0
569625,381750,7,300.0,6799411,3853480,2788510.0,375.0
569626,381750,7,375.0,6799411,3853480,2788510.0,350.0
569627,381750,9,350.0,6799411,3853480,2788510.0,350.0
569628,381750,7,300.0,6799411,3853480,2788512.0,375.0
569629,381750,7,375.0,6799411,3853480,2788512.0,350.0
569630,381750,9,350.0,6799411,3853480,2788512.0,350.0

In [28]:
lists = pd.read_csv('C:/Users/bpiv4/dropbox/eBay/data/list_chunks/toy-1_lists.csv')
lists.set_index('anon_item_id', inplace=True)

In [33]:
print('Listing file loaded')
# grabbing relevant indicator values
# temp: ignore leaves
# permanent: ignore titles (more than 200000 titles---far too many indicators
# for this iteration, even leaves are cumbersome (see below, ignored for now)
condition_values = np.unique(lists['item_cndtn_id'].values)
condition_values = condition_values[~np.isnan(condition_values)]

# leaf_values = np.unique(lists['anon_leaf_categ_id'].values)
categ_values = np.unique(lists['meta_categ_id'].values)
categ_values = categ_values[~np.isnan(categ_values)]
print(categ_values)
print('Indicators grabbed')
sys.stdout.flush()
# ignoring leaf indicators for now since there are ~18000 leaves
# print('Num leaves: ' + str(len(leaf_values)))

condition_inds = genIndicators(condition_values, 'c', hold_out=False)
categ_inds = genIndicators(categ_values, 'm', hold_out=True)
# leaf_inds = genIndicators(leaf_values, 'l')
print('Indicator tables constructed')
sys.stdout.flush()

Listing file loaded
[     1     99    220    237    260    267    281    293    316    550
    619    625    870    888   1249   1281   1305   2984   3252  10542
  11116  11232  11233  11450  11700  12576  14339  15032  20081  26395
  45100  58058  64482 172008]
Indicators grabbed
Num c ids : 11
Num m ids : 33
Indicator tables constructed

In [69]:
new = org
# convert date of offer creation to datetime
new['src_cre_date'] = pd.to_datetime(new.src_cre_date)

In [70]:
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,anon_item_id,anon_thread_id,anon_byr_id,anon_slr_id,src_cre_dt,fdbk_score_src,fdbk_pstv_src,offr_type_id,status_id,offr_price,src_cre_date,response_time,slr_hist,byr_hist,any_mssg,byr_us,unique_thread_id
0,107939,1,2,381750,4892433,3853480,6799411,30jun2012,366.0,99.46,0,7,300.00,2012-06-30 23:02:22,02jul2012 23:02:22,1.0,3.0,1.0,1,1.0
1,108139,0,1,381750,4892433,3853480,6799411,01jul2012,374.0,99.47,2,7,375.00,2012-07-01 00:49:23,03jul2012 00:49:23,NaN,NaN,NaN,0,1.0
2,108716,2,3,381750,4892433,3853480,6799411,01jul2012,366.0,99.46,1,9,350.00,2012-07-01 06:31:11,01jul2012 06:31:11,NaN,NaN,NaN,0,1.0
3,2599839,3,19,68831985,5016011,3950854,4437257,29apr2013,304.0,99.35,0,6,225.00,2013-04-29 11:34:00,29apr2013 11:34:00,17.0,109.0,NaN,1,11.0
4,2670607,4,45,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,0,7,300.00,2013-05-06 20:27:20,08may2013 20:27:20,24.0,32.0,NaN,1,22.0
5,2670736,5,60,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,2,1,325.00,2013-05-06 20:38:41,07may2013 17:27:10,NaN,NaN,1.0,0,22.0
6,81212,6,130,19647584,12846501,2093608,8848318,25jun2012,1992.0,99.95,0,1,100.00,2012-06-25 12:17:59,25jun2012 12:22:52,50.0,13.0,NaN,1,34.0
7,89480,7,133,86231067,10951488,5288214,8848318,27jun2012,1992.0,99.95,0,1,87.50,2012-06-27 05:19:54,27jun2012 05:23:01,52.0,32.0,1.0,1,36.0
8,555609,16,178,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,0,7,125.00,2012-09-10 05:01:35,12sep2012 05:01:35,NaN,10.0,NaN,1,55.0
9,556796,34,275,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,2,0,225.00,2012-09-10 09:10:39,12sep2012 09:10:39,NaN,NaN,NaN,0,55.0
10,570497,29,233,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,0,7,111.00,2012-09-12 07:45:46,14sep2012 07:45:46,NaN,496.0,NaN,1,55.0
11,570502,32,253,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,2,0,225.00,2012-09-12 07:46:50,14sep2012 07:46:50,NaN,NaN,NaN,0,55.0
12,580748,57,436,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,0,7,150.00,2012-09-13 16:48:18,15sep2012 16:48:18,NaN,NaN,NaN,0,55.0
13,580756,60,445,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,2,0,225.00,2012-09-13 16:49:01,15sep2012 16:49:01,NaN,NaN,NaN,0,55.0
14,685888,39,313,90808381,3570674,1366649,8946032,28sep2012,2000.0,99.95,0,2,75.00,2012-09-28 13:58:16,28sep2012 14:01:57,NaN,62.0,NaN,1,55.0
15,689378,42,320,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,0,7,100.00,2012-09-29 00:31:19,01oct2012 00:31:19,NaN,8.0,NaN,1,55.0
16,689824,56,427,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,2,0,225.00,2012-09-29 04:37:49,01oct2012 04:37:49,NaN,NaN,NaN,0,55.0
17,1270000,55,425,90808381,1946443,85193,8946032,11dec2012,2032.0,99.95,0,0,150.00,2012-12-11 13:07:31,13dec2012 13:07:31,NaN,690.0,NaN,1,55.0
18,1671320,48,364,90808381,4838594,4549564,8946032,26jan2013,2042.0,99.95,0,6,75.00,2013-01-26 05:43:25,26jan2013 05:43:25,NaN,1094.0,NaN,1,55.0
19,1833650,50,368,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,0,7,150.00,2013-02-11 13:08:40,13feb2013 13:08:40,NaN,NaN,NaN,0,55.0
20,1833713,49,366,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,2,0,225.00,2013-02-11 13:15:52,13feb2013 13:15:52,NaN,NaN,NaN,0,55.0
21,1916660,58,437,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,0,7,225.00,2013-02-19 15:21:25,21feb2013 15:21:25,NaN,NaN,NaN,0,55.0
22,1916886,15,177,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,2,0,275.00,2013-02-19 15:47:44,21feb2013 15:47:44,NaN,NaN,NaN,0,55.0
23,2037438,18,184,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,0,7,180.00,2013-03-02 19:08:11,04mar2013 19:08:11,NaN,41.0,NaN,1,55.0
24,2037444,63,463,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,2,0,275.00,2013-03-02 19:08:49,04mar2013 19:08:49,NaN,NaN,NaN,0,55.0
25,2160308,22,205,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,0,6,125.00,2013-03-14 18:53:51,14mar2013 18:53:51,NaN,43.0,NaN,1,55.0
26,2160314,40,316,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,0,7,150.00,2013-03-14 18:54:02,16mar2013 18:54:02,NaN,NaN,NaN,0,55.0
27,2160325,38,303,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,2,0,265.00,2013-03-14 18:55:04,16mar2013 18:55:04,NaN,NaN,NaN,0,55.0
28,3008650,8,155,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,0,7,150.00,2013-06-19 09:45:36,21jun2013 09:45:36,NaN,605.0,NaN,1,55.0
29,3008807,10,163,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,2,0,250.00,2013-06-19 10:36:30,21jun2013 10:36:30,NaN,NaN,NaN,0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429878,975551,429938,6335664,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,0,6,12.50,2012-11-06 20:48:00,06nov2012 20:48:00,5022.0,149.0,NaN,1,2788400.0
429879,975555,429870,6334844,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,0,6,12.50,2012-11-06 20:48:48,06nov2012 20:48:48,NaN,NaN,NaN,0,2788400.0
429880,1018322,429936,6335643,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,0,6,15.00,2012-11-12 13:55:18,12nov2012 13:55:18,5043.0,3.0,NaN,1,2788400.0
429881,1022178,429947,6335762,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,0,9,18.00,2012-11-12 21:31:36,12nov2012 21:31:36,NaN,NaN,NaN,0,2788400.0
429882,1468022,429871,6334848,90865501,8404243,9811207,10343581,03jan2013,28865.0,99.86,0,1,33.00,2013-01-03 21:29:21,04jan2013 14:40:49,5278.0,152.0,NaN,1,2788404.0
429883,1610097,429872,6334858,82553836,5103080,9037772,10343581,19jan2013,28865.0,99.86,0,9,18.00,2013-01-19 15:16:27,19jan2013 15:16:27,5343.0,19.0,NaN,1,2788410.0
429884,365019,429873,6334869,69893447,12534941,10221726,10343581,13aug2012,28440.0,99.86,0,2,10.00,2012-08-13 15:14:07,13aug2012 15:47:55,4793.0,1.0,NaN,1,2788419.0
429885,781204,429875,6334886,69893447,2013834,5703052,10343581,11oct2012,28580.0,99.86,0,2,4.50,2012-10-11 11:34:42,11oct2012 14:38:24,4934.0,7.0,NaN,1,2788419.0
429886,811572,429893,6335112,69893447,4585783,10205947,10343581,15oct2012,28580.0,99.86,0,1,12.99,2012-10-15 12:47:08,15oct2012 13:30:22,4945.0,81.0,NaN,1,2788419.0
429887,1044679,429874,6334881,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,6,5.00,2012-11-15 16:29:30,15nov2012 16:29:30,5056.0,12.0,NaN,1,2788428.0
429888,1044681,429883,6334964,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,6,7.00,2012-11-15 16:29:47,15nov2012 16:29:47,NaN,NaN,NaN,0,2788428.0
429889,1044683,429887,6335012,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,9,8.00,2012-11-15 16:30:09,15nov2012 16:30:09,NaN,NaN,NaN,0,2788428.0
429890,1719834,429876,6334889,12096754,5984428,7006576,10343581,30jan2013,28865.0,99.86,0,9,9.00,2013-01-30 21:12:26,30jan2013 21:12:26,5389.0,13.0,NaN,1,2788435.0
429891,1016541,429877,6334892,96468505,9785809,3315393,10343581,12nov2012,28665.0,99.86,0,1,8.00,2012-11-12 09:55:29,12nov2012 15:33:36,5041.0,91.0,NaN,1,2788438.0
429892,567132,429888,6335015,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,0,7,3.00,2012-09-11 17:48:02,13sep2012 17:48:02,4864.0,2.0,NaN,1,2788458.0
429893,567300,429907,6335255,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,2,2,10.00,2012-09-11 18:10:16,11sep2012 19:00:10,NaN,NaN,NaN,0,2788458.0
429894,699615,429906,6335245,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,0,7,5.00,2012-09-30 11:24:45,02oct2012 11:24:45,4909.0,2.0,NaN,1,2788458.0
429895,701148,429937,6335653,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,2,7,8.00,2012-09-30 15:18:43,02oct2012 15:18:43,NaN,NaN,NaN,0,2788458.0
429896,710232,429910,6335299,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,1,7,6.50,2012-10-01 18:07:17,03oct2012 18:07:17,NaN,NaN,NaN,0,2788458.0
429897,710388,429879,6334919,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,2,0,8.00,2012-10-01 18:28:04,03oct2012 18:28:04,NaN,NaN,NaN,0,2788458.0
429898,770884,429905,6335241,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,0,7,6.50,2012-10-10 01:05:34,12oct2012 01:05:34,NaN,NaN,NaN,0,2788458.0
429899,774481,429932,6335590,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,2,0,8.00,2012-10-10 13:44:20,12oct2012 13:44:20,NaN,NaN,NaN,0,2788458.0
429900,858983,429923,6335510,41016756,4932739,1797628,10343581,21oct2012,28580.0,99.86,0,1,10.00,2012-10-21 18:05:37,22oct2012 13:27:44,4959.0,3.0,NaN,1,2788458.0
429901,1611538,429880,6334921,55123907,10960283,9037772,10343581,19jan2013,28865.0,99.86,0,9,18.00,2013-01-19 18:23:52,19jan2013 18:23:52,5345.0,21.0,NaN,1,2788460.0
429902,1455198,429881,6334949,36381694,4631688,8098850,10343581,02jan2013,28865.0,99.86,0,9,16.00,2013-01-02 15:30:52,02jan2013 15:30:52,5274.0,16.0,NaN,1,2788480.0
429903,1763047,429882,6334950,26091904,9579320,5069497,10343581,04feb2013,28976.0,99.86,0,9,10.00,2013-02-04 04:56:11,04feb2013 04:56:11,5410.0,53.0,NaN,1,2788481.0
429904,963109,429884,6334984,79666846,2940470,1839047,10343581,05nov2012,28665.0,99.86,0,9,16.25,2012-11-05 07:30:19,05nov2012 07:30:20,5020.0,48.0,NaN,1,2788506.0
429905,296312,429885,6334989,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,0,6,15.50,2012-08-02 22:17:11,02aug2012 22:17:11,4765.0,19.0,NaN,1,2788510.0
429906,296313,429930,6335581,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,0,9,16.50,2012-08-02 22:17:22,02aug2012 22:17:23,NaN,NaN,NaN,0,2788510.0
429907,603593,429886,6334992,2554688,4876933,7330526,10343581,16sep2012,28519.0,99.86,0,9,12.99,2012-09-16 23:47:56,16sep2012 23:47:56,4871.0,503.0,NaN,1,2788512.0

In [71]:

# subset data to extract only initial offers, we expect one such for each thread id
# instance_data = data[data['offr_type_id'] == 0].copy()

# add response offer price column
rsp_offer = pd.Series(np.nan, index=new.index)
new.assign(resp_offr=rsp_offer, inplace=True)

# extract ids for offers which were accepted
print('1')
sys.stdout.flush()
accepted_bool = new['status_id'].isin(
    [1, 9]).values

# set accepted id response offers to equal the offer price
accepted_offer_prices = new.loc[accepted_bool,
                                 'offr_price']

1

In [72]:
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,anon_item_id,anon_thread_id,anon_byr_id,anon_slr_id,src_cre_dt,fdbk_score_src,fdbk_pstv_src,offr_type_id,status_id,offr_price,src_cre_date,response_time,slr_hist,byr_hist,any_mssg,byr_us,unique_thread_id
0,107939,1,2,381750,4892433,3853480,6799411,30jun2012,366.0,99.46,0,7,300.00,2012-06-30 23:02:22,02jul2012 23:02:22,1.0,3.0,1.0,1,1.0
1,108139,0,1,381750,4892433,3853480,6799411,01jul2012,374.0,99.47,2,7,375.00,2012-07-01 00:49:23,03jul2012 00:49:23,NaN,NaN,NaN,0,1.0
2,108716,2,3,381750,4892433,3853480,6799411,01jul2012,366.0,99.46,1,9,350.00,2012-07-01 06:31:11,01jul2012 06:31:11,NaN,NaN,NaN,0,1.0
3,2599839,3,19,68831985,5016011,3950854,4437257,29apr2013,304.0,99.35,0,6,225.00,2013-04-29 11:34:00,29apr2013 11:34:00,17.0,109.0,NaN,1,11.0
4,2670607,4,45,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,0,7,300.00,2013-05-06 20:27:20,08may2013 20:27:20,24.0,32.0,NaN,1,22.0
5,2670736,5,60,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,2,1,325.00,2013-05-06 20:38:41,07may2013 17:27:10,NaN,NaN,1.0,0,22.0
6,81212,6,130,19647584,12846501,2093608,8848318,25jun2012,1992.0,99.95,0,1,100.00,2012-06-25 12:17:59,25jun2012 12:22:52,50.0,13.0,NaN,1,34.0
7,89480,7,133,86231067,10951488,5288214,8848318,27jun2012,1992.0,99.95,0,1,87.50,2012-06-27 05:19:54,27jun2012 05:23:01,52.0,32.0,1.0,1,36.0
8,555609,16,178,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,0,7,125.00,2012-09-10 05:01:35,12sep2012 05:01:35,NaN,10.0,NaN,1,55.0
9,556796,34,275,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,2,0,225.00,2012-09-10 09:10:39,12sep2012 09:10:39,NaN,NaN,NaN,0,55.0
10,570497,29,233,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,0,7,111.00,2012-09-12 07:45:46,14sep2012 07:45:46,NaN,496.0,NaN,1,55.0
11,570502,32,253,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,2,0,225.00,2012-09-12 07:46:50,14sep2012 07:46:50,NaN,NaN,NaN,0,55.0
12,580748,57,436,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,0,7,150.00,2012-09-13 16:48:18,15sep2012 16:48:18,NaN,NaN,NaN,0,55.0
13,580756,60,445,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,2,0,225.00,2012-09-13 16:49:01,15sep2012 16:49:01,NaN,NaN,NaN,0,55.0
14,685888,39,313,90808381,3570674,1366649,8946032,28sep2012,2000.0,99.95,0,2,75.00,2012-09-28 13:58:16,28sep2012 14:01:57,NaN,62.0,NaN,1,55.0
15,689378,42,320,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,0,7,100.00,2012-09-29 00:31:19,01oct2012 00:31:19,NaN,8.0,NaN,1,55.0
16,689824,56,427,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,2,0,225.00,2012-09-29 04:37:49,01oct2012 04:37:49,NaN,NaN,NaN,0,55.0
17,1270000,55,425,90808381,1946443,85193,8946032,11dec2012,2032.0,99.95,0,0,150.00,2012-12-11 13:07:31,13dec2012 13:07:31,NaN,690.0,NaN,1,55.0
18,1671320,48,364,90808381,4838594,4549564,8946032,26jan2013,2042.0,99.95,0,6,75.00,2013-01-26 05:43:25,26jan2013 05:43:25,NaN,1094.0,NaN,1,55.0
19,1833650,50,368,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,0,7,150.00,2013-02-11 13:08:40,13feb2013 13:08:40,NaN,NaN,NaN,0,55.0
20,1833713,49,366,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,2,0,225.00,2013-02-11 13:15:52,13feb2013 13:15:52,NaN,NaN,NaN,0,55.0
21,1916660,58,437,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,0,7,225.00,2013-02-19 15:21:25,21feb2013 15:21:25,NaN,NaN,NaN,0,55.0
22,1916886,15,177,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,2,0,275.00,2013-02-19 15:47:44,21feb2013 15:47:44,NaN,NaN,NaN,0,55.0
23,2037438,18,184,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,0,7,180.00,2013-03-02 19:08:11,04mar2013 19:08:11,NaN,41.0,NaN,1,55.0
24,2037444,63,463,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,2,0,275.00,2013-03-02 19:08:49,04mar2013 19:08:49,NaN,NaN,NaN,0,55.0
25,2160308,22,205,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,0,6,125.00,2013-03-14 18:53:51,14mar2013 18:53:51,NaN,43.0,NaN,1,55.0
26,2160314,40,316,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,0,7,150.00,2013-03-14 18:54:02,16mar2013 18:54:02,NaN,NaN,NaN,0,55.0
27,2160325,38,303,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,2,0,265.00,2013-03-14 18:55:04,16mar2013 18:55:04,NaN,NaN,NaN,0,55.0
28,3008650,8,155,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,0,7,150.00,2013-06-19 09:45:36,21jun2013 09:45:36,NaN,605.0,NaN,1,55.0
29,3008807,10,163,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,2,0,250.00,2013-06-19 10:36:30,21jun2013 10:36:30,NaN,NaN,NaN,0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429878,975551,429938,6335664,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,0,6,12.50,2012-11-06 20:48:00,06nov2012 20:48:00,5022.0,149.0,NaN,1,2788400.0
429879,975555,429870,6334844,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,0,6,12.50,2012-11-06 20:48:48,06nov2012 20:48:48,NaN,NaN,NaN,0,2788400.0
429880,1018322,429936,6335643,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,0,6,15.00,2012-11-12 13:55:18,12nov2012 13:55:18,5043.0,3.0,NaN,1,2788400.0
429881,1022178,429947,6335762,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,0,9,18.00,2012-11-12 21:31:36,12nov2012 21:31:36,NaN,NaN,NaN,0,2788400.0
429882,1468022,429871,6334848,90865501,8404243,9811207,10343581,03jan2013,28865.0,99.86,0,1,33.00,2013-01-03 21:29:21,04jan2013 14:40:49,5278.0,152.0,NaN,1,2788404.0
429883,1610097,429872,6334858,82553836,5103080,9037772,10343581,19jan2013,28865.0,99.86,0,9,18.00,2013-01-19 15:16:27,19jan2013 15:16:27,5343.0,19.0,NaN,1,2788410.0
429884,365019,429873,6334869,69893447,12534941,10221726,10343581,13aug2012,28440.0,99.86,0,2,10.00,2012-08-13 15:14:07,13aug2012 15:47:55,4793.0,1.0,NaN,1,2788419.0
429885,781204,429875,6334886,69893447,2013834,5703052,10343581,11oct2012,28580.0,99.86,0,2,4.50,2012-10-11 11:34:42,11oct2012 14:38:24,4934.0,7.0,NaN,1,2788419.0
429886,811572,429893,6335112,69893447,4585783,10205947,10343581,15oct2012,28580.0,99.86,0,1,12.99,2012-10-15 12:47:08,15oct2012 13:30:22,4945.0,81.0,NaN,1,2788419.0
429887,1044679,429874,6334881,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,6,5.00,2012-11-15 16:29:30,15nov2012 16:29:30,5056.0,12.0,NaN,1,2788428.0
429888,1044681,429883,6334964,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,6,7.00,2012-11-15 16:29:47,15nov2012 16:29:47,NaN,NaN,NaN,0,2788428.0
429889,1044683,429887,6335012,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,0,9,8.00,2012-11-15 16:30:09,15nov2012 16:30:09,NaN,NaN,NaN,0,2788428.0
429890,1719834,429876,6334889,12096754,5984428,7006576,10343581,30jan2013,28865.0,99.86,0,9,9.00,2013-01-30 21:12:26,30jan2013 21:12:26,5389.0,13.0,NaN,1,2788435.0
429891,1016541,429877,6334892,96468505,9785809,3315393,10343581,12nov2012,28665.0,99.86,0,1,8.00,2012-11-12 09:55:29,12nov2012 15:33:36,5041.0,91.0,NaN,1,2788438.0
429892,567132,429888,6335015,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,0,7,3.00,2012-09-11 17:48:02,13sep2012 17:48:02,4864.0,2.0,NaN,1,2788458.0
429893,567300,429907,6335255,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,2,2,10.00,2012-09-11 18:10:16,11sep2012 19:00:10,NaN,NaN,NaN,0,2788458.0
429894,699615,429906,6335245,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,0,7,5.00,2012-09-30 11:24:45,02oct2012 11:24:45,4909.0,2.0,NaN,1,2788458.0
429895,701148,429937,6335653,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,2,7,8.00,2012-09-30 15:18:43,02oct2012 15:18:43,NaN,NaN,NaN,0,2788458.0
429896,710232,429910,6335299,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,1,7,6.50,2012-10-01 18:07:17,03oct2012 18:07:17,NaN,NaN,NaN,0,2788458.0
429897,710388,429879,6334919,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,2,0,8.00,2012-10-01 18:28:04,03oct2012 18:28:04,NaN,NaN,NaN,0,2788458.0
429898,770884,429905,6335241,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,0,7,6.50,2012-10-10 01:05:34,12oct2012 01:05:34,NaN,NaN,NaN,0,2788458.0
429899,774481,429932,6335590,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,2,0,8.00,2012-10-10 13:44:20,12oct2012 13:44:20,NaN,NaN,NaN,0,2788458.0
429900,858983,429923,6335510,41016756,4932739,1797628,10343581,21oct2012,28580.0,99.86,0,1,10.00,2012-10-21 18:05:37,22oct2012 13:27:44,4959.0,3.0,NaN,1,2788458.0
429901,1611538,429880,6334921,55123907,10960283,9037772,10343581,19jan2013,28865.0,99.86,0,9,18.00,2013-01-19 18:23:52,19jan2013 18:23:52,5345.0,21.0,NaN,1,2788460.0
429902,1455198,429881,6334949,36381694,4631688,8098850,10343581,02jan2013,28865.0,99.86,0,9,16.00,2013-01-02 15:30:52,02jan2013 15:30:52,5274.0,16.0,NaN,1,2788480.0
429903,1763047,429882,6334950,26091904,9579320,5069497,10343581,04feb2013,28976.0,99.86,0,9,10.00,2013-02-04 04:56:11,04feb2013 04:56:11,5410.0,53.0,NaN,1,2788481.0
429904,963109,429884,6334984,79666846,2940470,1839047,10343581,05nov2012,28665.0,99.86,0,9,16.25,2012-11-05 07:30:19,05nov2012 07:30:20,5020.0,48.0,NaN,1,2788506.0
429905,296312,429885,6334989,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,0,6,15.50,2012-08-02 22:17:11,02aug2012 22:17:11,4765.0,19.0,NaN,1,2788510.0
429906,296313,429930,6335581,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,0,9,16.50,2012-08-02 22:17:22,02aug2012 22:17:23,NaN,NaN,NaN,0,2788510.0
429907,603593,429886,6334992,2554688,4876933,7330526,10343581,16sep2012,28519.0,99.86,0,9,12.99,2012-09-16 23:47:56,16sep2012 23:47:56,4871.0,503.0,NaN,1,2788512.0

In [73]:
if isinstance(accepted_offer_prices, pd.Series):
    accepted_offer_prices = accepted_offer_prices.values
new.loc[accepted_bool,
         'resp_offr'] = accepted_offer_prices
print('3')
sys.stdout.flush()

3

In [74]:
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,anon_item_id,anon_thread_id,anon_byr_id,anon_slr_id,src_cre_dt,fdbk_score_src,fdbk_pstv_src,...,status_id,offr_price,src_cre_date,response_time,slr_hist,byr_hist,any_mssg,byr_us,unique_thread_id,resp_offr
0,107939,1,2,381750,4892433,3853480,6799411,30jun2012,366.0,99.46,...,7,300.00,2012-06-30 23:02:22,02jul2012 23:02:22,1.0,3.0,1.0,1,1.0,NaN
1,108139,0,1,381750,4892433,3853480,6799411,01jul2012,374.0,99.47,...,7,375.00,2012-07-01 00:49:23,03jul2012 00:49:23,NaN,NaN,NaN,0,1.0,NaN
2,108716,2,3,381750,4892433,3853480,6799411,01jul2012,366.0,99.46,...,9,350.00,2012-07-01 06:31:11,01jul2012 06:31:11,NaN,NaN,NaN,0,1.0,350.00
3,2599839,3,19,68831985,5016011,3950854,4437257,29apr2013,304.0,99.35,...,6,225.00,2013-04-29 11:34:00,29apr2013 11:34:00,17.0,109.0,NaN,1,11.0,NaN
4,2670607,4,45,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,...,7,300.00,2013-05-06 20:27:20,08may2013 20:27:20,24.0,32.0,NaN,1,22.0,NaN
5,2670736,5,60,41451185,8189116,6451917,4437257,06may2013,306.0,99.35,...,1,325.00,2013-05-06 20:38:41,07may2013 17:27:10,NaN,NaN,1.0,0,22.0,325.00
6,81212,6,130,19647584,12846501,2093608,8848318,25jun2012,1992.0,99.95,...,1,100.00,2012-06-25 12:17:59,25jun2012 12:22:52,50.0,13.0,NaN,1,34.0,100.00
7,89480,7,133,86231067,10951488,5288214,8848318,27jun2012,1992.0,99.95,...,1,87.50,2012-06-27 05:19:54,27jun2012 05:23:01,52.0,32.0,1.0,1,36.0,87.50
8,555609,16,178,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,...,7,125.00,2012-09-10 05:01:35,12sep2012 05:01:35,NaN,10.0,NaN,1,55.0,NaN
9,556796,34,275,90808381,1734683,106859,8946032,10sep2012,2000.0,99.95,...,0,225.00,2012-09-10 09:10:39,12sep2012 09:10:39,NaN,NaN,NaN,0,55.0,NaN
10,570497,29,233,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,...,7,111.00,2012-09-12 07:45:46,14sep2012 07:45:46,NaN,496.0,NaN,1,55.0,NaN
11,570502,32,253,90808381,3301050,1647060,8946032,12sep2012,2000.0,99.95,...,0,225.00,2012-09-12 07:46:50,14sep2012 07:46:50,NaN,NaN,NaN,0,55.0,NaN
12,580748,57,436,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,...,7,150.00,2012-09-13 16:48:18,15sep2012 16:48:18,NaN,NaN,NaN,0,55.0,NaN
13,580756,60,445,90808381,1734683,106859,8946032,13sep2012,2000.0,99.95,...,0,225.00,2012-09-13 16:49:01,15sep2012 16:49:01,NaN,NaN,NaN,0,55.0,NaN
14,685888,39,313,90808381,3570674,1366649,8946032,28sep2012,2000.0,99.95,...,2,75.00,2012-09-28 13:58:16,28sep2012 14:01:57,NaN,62.0,NaN,1,55.0,NaN
15,689378,42,320,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,...,7,100.00,2012-09-29 00:31:19,01oct2012 00:31:19,NaN,8.0,NaN,1,55.0,NaN
16,689824,56,427,90808381,11718711,4770995,8946032,29sep2012,2000.0,99.95,...,0,225.00,2012-09-29 04:37:49,01oct2012 04:37:49,NaN,NaN,NaN,0,55.0,NaN
17,1270000,55,425,90808381,1946443,85193,8946032,11dec2012,2032.0,99.95,...,0,150.00,2012-12-11 13:07:31,13dec2012 13:07:31,NaN,690.0,NaN,1,55.0,NaN
18,1671320,48,364,90808381,4838594,4549564,8946032,26jan2013,2042.0,99.95,...,6,75.00,2013-01-26 05:43:25,26jan2013 05:43:25,NaN,1094.0,NaN,1,55.0,NaN
19,1833650,50,368,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,...,7,150.00,2013-02-11 13:08:40,13feb2013 13:08:40,NaN,NaN,NaN,0,55.0,NaN
20,1833713,49,366,90808381,4838594,4549564,8946032,11feb2013,2062.0,99.95,...,0,225.00,2013-02-11 13:15:52,13feb2013 13:15:52,NaN,NaN,NaN,0,55.0,NaN
21,1916660,58,437,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,...,7,225.00,2013-02-19 15:21:25,21feb2013 15:21:25,NaN,NaN,NaN,0,55.0,NaN
22,1916886,15,177,90808381,4838594,4549564,8946032,19feb2013,2062.0,99.95,...,0,275.00,2013-02-19 15:47:44,21feb2013 15:47:44,NaN,NaN,NaN,0,55.0,NaN
23,2037438,18,184,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,...,7,180.00,2013-03-02 19:08:11,04mar2013 19:08:11,NaN,41.0,NaN,1,55.0,NaN
24,2037444,63,463,90808381,2279278,6487979,8946032,02mar2013,2095.0,99.95,...,0,275.00,2013-03-02 19:08:49,04mar2013 19:08:49,NaN,NaN,NaN,0,55.0,NaN
25,2160308,22,205,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,...,6,125.00,2013-03-14 18:53:51,14mar2013 18:53:51,NaN,43.0,NaN,1,55.0,NaN
26,2160314,40,316,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,...,7,150.00,2013-03-14 18:54:02,16mar2013 18:54:02,NaN,NaN,NaN,0,55.0,NaN
27,2160325,38,303,90808381,10088599,10020319,8946032,14mar2013,2095.0,99.95,...,0,265.00,2013-03-14 18:55:04,16mar2013 18:55:04,NaN,NaN,NaN,0,55.0,NaN
28,3008650,8,155,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,...,7,150.00,2013-06-19 09:45:36,21jun2013 09:45:36,NaN,605.0,NaN,1,55.0,NaN
29,3008807,10,163,90808381,6708403,6260597,8946032,19jun2013,2186.0,99.95,...,0,250.00,2013-06-19 10:36:30,21jun2013 10:36:30,NaN,NaN,NaN,0,55.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429878,975551,429938,6335664,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,...,6,12.50,2012-11-06 20:48:00,06nov2012 20:48:00,5022.0,149.0,NaN,1,2788400.0,NaN
429879,975555,429870,6334844,47306659,5617611,3953074,10343581,06nov2012,28665.0,99.86,...,6,12.50,2012-11-06 20:48:48,06nov2012 20:48:48,NaN,NaN,NaN,0,2788400.0,NaN
429880,1018322,429936,6335643,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,...,6,15.00,2012-11-12 13:55:18,12nov2012 13:55:18,5043.0,3.0,NaN,1,2788400.0,NaN
429881,1022178,429947,6335762,47306659,10011776,3567683,10343581,12nov2012,28665.0,99.86,...,9,18.00,2012-11-12 21:31:36,12nov2012 21:31:36,NaN,NaN,NaN,0,2788400.0,18.00
429882,1468022,429871,6334848,90865501,8404243,9811207,10343581,03jan2013,28865.0,99.86,...,1,33.00,2013-01-03 21:29:21,04jan2013 14:40:49,5278.0,152.0,NaN,1,2788404.0,33.00
429883,1610097,429872,6334858,82553836,5103080,9037772,10343581,19jan2013,28865.0,99.86,...,9,18.00,2013-01-19 15:16:27,19jan2013 15:16:27,5343.0,19.0,NaN,1,2788410.0,18.00
429884,365019,429873,6334869,69893447,12534941,10221726,10343581,13aug2012,28440.0,99.86,...,2,10.00,2012-08-13 15:14:07,13aug2012 15:47:55,4793.0,1.0,NaN,1,2788419.0,NaN
429885,781204,429875,6334886,69893447,2013834,5703052,10343581,11oct2012,28580.0,99.86,...,2,4.50,2012-10-11 11:34:42,11oct2012 14:38:24,4934.0,7.0,NaN,1,2788419.0,NaN
429886,811572,429893,6335112,69893447,4585783,10205947,10343581,15oct2012,28580.0,99.86,...,1,12.99,2012-10-15 12:47:08,15oct2012 13:30:22,4945.0,81.0,NaN,1,2788419.0,12.99
429887,1044679,429874,6334881,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,...,6,5.00,2012-11-15 16:29:30,15nov2012 16:29:30,5056.0,12.0,NaN,1,2788428.0,NaN
429888,1044681,429883,6334964,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,...,6,7.00,2012-11-15 16:29:47,15nov2012 16:29:47,NaN,NaN,NaN,0,2788428.0,NaN
429889,1044683,429887,6335012,86587532,4294590,4902557,10343581,15nov2012,28665.0,99.86,...,9,8.00,2012-11-15 16:30:09,15nov2012 16:30:09,NaN,NaN,NaN,0,2788428.0,8.00
429890,1719834,429876,6334889,12096754,5984428,7006576,10343581,30jan2013,28865.0,99.86,...,9,9.00,2013-01-30 21:12:26,30jan2013 21:12:26,5389.0,13.0,NaN,1,2788435.0,9.00
429891,1016541,429877,6334892,96468505,9785809,3315393,10343581,12nov2012,28665.0,99.86,...,1,8.00,2012-11-12 09:55:29,12nov2012 15:33:36,5041.0,91.0,NaN,1,2788438.0,8.00
429892,567132,429888,6335015,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,...,7,3.00,2012-09-11 17:48:02,13sep2012 17:48:02,4864.0,2.0,NaN,1,2788458.0,NaN
429893,567300,429907,6335255,41016756,4954239,2628048,10343581,11sep2012,28519.0,99.86,...,2,10.00,2012-09-11 18:10:16,11sep2012 19:00:10,NaN,NaN,NaN,0,2788458.0,NaN
429894,699615,429906,6335245,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,...,7,5.00,2012-09-30 11:24:45,02oct2012 11:24:45,4909.0,2.0,NaN,1,2788458.0,NaN
429895,701148,429937,6335653,41016756,12270077,9595105,10343581,30sep2012,28519.0,99.86,...,7,8.00,2012-09-30 15:18:43,02oct2012 15:18:43,NaN,NaN,NaN,0,2788458.0,NaN
429896,710232,429910,6335299,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,...,7,6.50,2012-10-01 18:07:17,03oct2012 18:07:17,NaN,NaN,NaN,0,2788458.0,NaN
429897,710388,429879,6334919,41016756,12270077,9595105,10343581,01oct2012,28580.0,99.86,...,0,8.00,2012-10-01 18:28:04,03oct2012 18:28:04,NaN,NaN,NaN,0,2788458.0,NaN
429898,770884,429905,6335241,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,...,7,6.50,2012-10-10 01:05:34,12oct2012 01:05:34,NaN,NaN,NaN,0,2788458.0,NaN
429899,774481,429932,6335590,41016756,12270077,9595105,10343581,10oct2012,28580.0,99.86,...,0,8.00,2012-10-10 13:44:20,12oct2012 13:44:20,NaN,NaN,NaN,0,2788458.0,NaN
429900,858983,429923,6335510,41016756,4932739,1797628,10343581,21oct2012,28580.0,99.86,...,1,10.00,2012-10-21 18:05:37,22oct2012 13:27:44,4959.0,3.0,NaN,1,2788458.0,10.00
429901,1611538,429880,6334921,55123907,10960283,9037772,10343581,19jan2013,28865.0,99.86,...,9,18.00,2013-01-19 18:23:52,19jan2013 18:23:52,5345.0,21.0,NaN,1,2788460.0,18.00
429902,1455198,429881,6334949,36381694,4631688,8098850,10343581,02jan2013,28865.0,99.86,...,9,16.00,2013-01-02 15:30:52,02jan2013 15:30:52,5274.0,16.0,NaN,1,2788480.0,16.00
429903,1763047,429882,6334950,26091904,9579320,5069497,10343581,04feb2013,28976.0,99.86,...,9,10.00,2013-02-04 04:56:11,04feb2013 04:56:11,5410.0,53.0,NaN,1,2788481.0,10.00
429904,963109,429884,6334984,79666846,2940470,1839047,10343581,05nov2012,28665.0,99.86,...,9,16.25,2012-11-05 07:30:19,05nov2012 07:30:20,5020.0,48.0,NaN,1,2788506.0,16.25
429905,296312,429885,6334989,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,...,6,15.50,2012-08-02 22:17:11,02aug2012 22:17:11,4765.0,19.0,NaN,1,2788510.0,NaN
429906,296313,429930,6335581,29787649,11888252,1154418,10343581,02aug2012,28440.0,99.86,...,9,16.50,2012-08-02 22:17:22,02aug2012 22:17:23,NaN,NaN,NaN,0,2788510.0,16.50
429907,603593,429886,6334992,2554688,4876933,7330526,10343581,16sep2012,28519.0,99.86,...,9,12.99,2012-09-16 23:47:56,16sep2012 23:47:56,4871.0,503.0,NaN,1,2788512.0,12.99

In [75]:
new = new.groupby('unique_thread_id')
new

In [79]:
def output_fun(df, first, second):
    df = df[['anon_item_id', 'unique_thread_id' 'offr_price', 'anon_byr_id', 'anon_slr_id']]
    print('New Thread ID')
    print(df)

In [ ]:
def gen_features(df):
    print(df)
    df.sort_values(by='src_cre_date', ascending=True,
                   inplace=True)
    df.reset_index(drop=True, inplace=True)
    early_row = len(df.index)
    curr_item_id = df.at[0, 'anon_item_id']
    listing_row = lists.loc[[curr_item_id]].copy()
    # NB not sure how to use anon_product_id when its missing sometimes, perhaps we can restrict later
    # excluding seller id
    listing_row.drop(columns=['anon_title_code', 'anon_slr_id',
                              'anon_product_id', 'anon_buyer_id', 'ship_time_chosen'], inplace=True)
    # grab leaf, category, and condition id's from listing
    # leaf = listing_row.at[curr_item_id, 'anon_leaf_categ_id']
    categ = listing_row.at[curr_item_id, 'meta_categ_id']
    condition = listing_row.at[curr_item_id, 'item_cndtn_id']
    start_price = listing_row.at[curr_item_id, 'start_price_usd']
    # extract corresponding rows in indicator look up tables
    # leaf_inds = leaf_df.loc[[leaf]]
    categ_inds = cat_df.loc[[categ]]
    if np.isnan(condition):
        cnd_inds = pd.DataFrame(0, index=[-1], columns=cnd_df.columns)
        listing_row.at[curr_item_id, 'item_cndtn_id'] = -1
    else:
        cnd_inds = cnd_df.loc[[condition]]

    # add all indicator columns
    # listing_row.merge(leaf_inds, left_on='anon_leaf_categ_id',
    #                  right_index=True, inplace=True)
    listing_row = listing_row.merge(categ_inds, left_on='meta_categ_id',
                                    right_index=True)
    listing_row = listing_row.merge(cnd_inds, left_on='item_cndtn_id',
                                    right_index=True)
    listing_row = pd.concat([listing_row]*len(df.index), ignore_index=True)
    df = df.join(listing_row, how='right')

    counter_offers = df['status_id'] == 7
    counter_offers = np.nonzero(counter_offers.values)[0]
    if counter_offers.size != 0:
        next_offers = np.add(counter_offers, 1)
        next_offer_vals = df.loc[next_offers, 'offr_price']
        if isinstance(next_offer_vals, pd.Series):
            next_offer_vals = next_offer_vals.values
        df.loc[counter_offers, 'resp_offr'] = next_offer_vals
    else:
        print('did not check')

    declined = df['status_id'].isin([0, 2, 6, 8]).values
    if np.sum(declined) > 0:
        print('Has declined')
        seller = df['offr_type_id'] == 2
        seller = seller.values
        buyer = ~seller.values
        declined_seller = np.nonzero(np.logical_and(declined, seller))
        declined_buyer = np.nonzero(np.logical_and(declined, buyer))
        seller = np.nonzero(seller)
        buyer = np.nonzero(buyer)
        if np.sum(declined_seller) > 0:
            print('has declined seller')
            sejller_inds = np.searchsorted(buyer, declined_seller, side='left')
            nonzero_sellers = declined_seller[seller_inds != 0]
            zero_sellers = declined_seller[seller_inds == 0]
            seller_inds = seller_inds[seller_inds != 0]
            # shouldn't need to check size, since none should equal 0, buyer should
            # always occur first a listing
            seller_inds = seller_inds - 1
            prev_buyers = buyer[seller_inds]
            prev_offers = df.loc[prev_buyers, 'offr_price']
            if isinstance(prev_offers, pd.Series):
                prev_offers = prev_offers.values
            df.loc[declined_seller, 'resp_offr'] = prev_offers
        if np.sum(declined_buyer) > 0:
            print('has declined buyer')
            if seller.size != 0:
                buyer_inds = np.searchsorted(
                    seller, declined_buyer, side='left')
                nonzero_buyers = declined_buyer[buyer_inds != 0]
                zero_buyers = declined_seller[seller_inds == 0]
                buyer_inds = buyer_inds[buyer_inds != 0]
                # shouldn't need to check size, since none should equal 0, buyer should
                # always occur first a listing
                buyer_inds = buyer_inds - 1
                prev_sellers = seller[buyer_inds]
                prev_offers = df.loc[prev_sellers, 'offr_price']
                if isinstance(prev_offers, pd.Series):
                    prev_offers = prev_offers.values
                df.loc[nonzero_buyers, 'resp_offr'] = prev_offers
                df.loc[zero_buyers, 'resp_offr'] = start_price
            else:
                df.loc[declined_buyer, 'resp_offr'] = start_price
    late_row = len(df.index)
    rsp = df['resp_offr'].values
    if np.sum(np.isnan(rsp)) != 0:
        print(df[['unique_thread_id', 'resp_offr', 'offr_price',
                  'start_price_usd', 'offr_type_id', 'status_id']])
    if late_row != early_row:
        raise ValueError('Rows have been added')
    return df

In [ ]:
global cnd_df
cnd_df = condition_inds
global cat_df
cat_df = categ_inds
final_list = []

counter = 0
for name, group in new:
    new_group = group.copy()
    resp = pd.Series(np.nan, index = group.index)
    new_group['added'] = resp
    final_list.append(new_group)